*.py[cod]

#virtualenv dir
env/

#IDE / Projects
.ropeproject

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Sqlite DBs
*.db

#Docs
doc/_build/
